<h2>Users Example</h2>

<div class="topSection">
    <button (click)="listUsers()">List Users</button>
    <br>
    <strong *ngIf="activeUser.id !== 0">Editing User {{ activeUser.id }}</strong>
    <br>
    <form id="editUserForm" [formGroup]="editUserForm">
        <input formControlName="firstName" />
        <br>
        <input formControlName="lastName" />
    </form>
</div>
<div *ngFor="let user of users" class="section">
    <span (click)="selectUser(user.id)"><strong>ID: </strong>{{user.id}}</span>
    <br>
    <span class="cell">First Name: {{user.firstName}}</span>
    <br>
    <span class="cell">Last Name: {{user.lastName}}</span>
    <br>
    <span class="cell">Date of Birth: {{user.dateOfBirth | date: 'MM/dd/yyyy'}}</span>
</div>